body {
    background-color: rgb(216, 216, 216);
    margin: 0;
}

.section-top {
    background-color: rgb(68, 68, 68);
    height: 100px;
}

.section-bottom {
    margin: 0px 80px 0px 80px;
    position: relative;
}

.section-bottom > .section-2-top{
    background-color: rgb(239, 239, 239);
    min-height: 37rem;
}

.section-bottom > .section-2-bottom {
    background-color: rgb(34, 34, 34);
    position: relative;
    height: 50px;
}